<div class="offset-5 col-3 pt-5">
  <h2>Sign in to Flight Booking</h2>
<form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
<div class="form-group">
  <label for="email">Email</label>
  <input type="email" id="email" name="email" ngModel class="form-control" required>
</div>
<div class="form-group pb-4">
  <label for="password">Password</label>
  <input type="password" id="password" name="password" ngModel class="form-control" required>
</div>
<button type="submit" class="btn btn-primary text-center" [disabled]="!loginForm.form.valid">Login</button>
<div class="form-group signup-pad">
    <p>New User? <a routerLink="/register" >Sign Up</a> </p>
</div>
<div *ngIf="fail">
  <p class="alert alert-danger">
    <strong>Invalid Password or Email</strong>
</p>
</div>
</form>
</div>